body{
  font-family: 'JetBrains Mono';
}

.container{
  border: 1px solid black;
  width:  75%;
  margin: 0 auto;
  text-align: center;
  background-color: yellow;
}

.flex-box-container-1{
  display: flex;
  padding: 10px;
  border: 1px solid black;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-container-1 div{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
}